body {
	text-align: center;	
}
button {
	margin: 60px auto 0;
	position: relative;	
}

.grid-square {
	background-color: white;
	width: 30px;
	height: 30px;
	display: inline-block;
	position: relative;
	float: left;
}

.etched {
	background-color: #666;
}
#grid {
	margin: 20px auto;
	height:480px;
	width: 480px;
	border: 2px solid #666;
	position: relative;
}