html {
	background-color: #dcccff;
	font-size: 10px;
	font-family: "Raleway", sans-serif;
}
h1 {
	margin: 0;
	font-size: 60px;
	text-align: center;
	padding: 20px 0;
	color: white;
	text-shadow: 3px 3px 8px  #000066;
}
p, li {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 1px;
}
body {
	width: 600px;
	margin: 10px auto;
	background-color: #b3ffec;
	padding: 0 20px 20px 20px;
	border: 5px solid white;
}
img {
	display: block;
	margin: 0 auto;
	text-align: center;
}